$primary-brown: #03045E;
$primary-beige: #a8bdc3;
$primary-red : #7188a7;
$primary-brown-opacity: rgba(66,36,12,20%);
$primary-beige-opacity: rgba(250, 185, 154, 40%);
$primary-pink: rgba(253, 186, 154, 65%);
$white: #ffff;
$primary-beige-light: #F2DED5;
$primary-brown-2: #b3c5d4;
$primary-red-shadow : rgba(180, 184, 187, 0.5);
$text-red: #1e5a97;